
main{
	div{
		.col-md-9{
			.blog-list{
				margin-bottom: 1%;
				.row{
					.card{
						margin-right:2%;
						margin-bottom: 1%;
					}
				}
			}
		}
		.col-md-3{
			.menu{
				box-shadow: rgb(38, 80, 119) 0px 5px 40px 5px;
				.menu-items1{
					div{
						ul{
							li{
								a{
									text-decoration: none;
									&:hover{
										color: pink;
									}
								}
							}
						}
					}
				}
				.menu-items2{
					div{
						ul{
							li{
								a{
									&:hover{
										background-color: pink;
									}
								}
							}
						}
					}

				}
			}
		}
	}
}
