
main{
	div{
		div{
			ul{
				li{
					list-style:none;
					float:left;
					margin-right:5px;
					a{
						text-decoration: none;
						&:hover {
        					color:pink;
    					}
					}
				}
			}
		}
		div{
			div{
				h3{
				}
				div{
					div{
						margin:1%;
					}
				}
			}
		}
		div{
			div{
				div{
					div{
						ul{
							li{
								.bgcolor{
									&:hover{
										background-color: pink;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.menu{
	box-shadow: 0px 5px 15px 5px #265077;
}
