<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Giới thiệu</title>
	<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/gioithieu.css">
	<link rel="stylesheet" href="../css/reponsives.css" />
	<style>
		@font-face {
	font-family: myFirstFont;
	src: url(../font/Marcellus-Regular.ttf);
 }
 
 * {
	font-family: myFirstFont;
 }
	</style>
</head>
<body>
	<header>
        <div class="container-fluid p-0 m-0">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar__header">
                        <div class="content__header">
                            <div class="logo">
                                <a href="#"> DUROTAN</a>
                            </div>
                            <ul class="menu-list">
                                <div class="icon menu_icon cannel-btn">
                                    <i class="fas fa-times"></i>
                                </div>
                                <li><a href="../index.html">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="./tintuc.html">Blog</a></li>
                                <li><a href="./gioithieu.html">Introduce</a></li>
                                <li><a href="./lienhe.html">Contact</a></li>
                            </ul>
                            <ul class="language">
                                <li><a href="#">EN</a></li>
                                <li><a href="#">FR</a></li>
                            </ul>
                            <div class="icon__menu">
                                <div class="icon icon_search search-btn">
                                    <i class="fas fa-search"></i>
                                </div>
                                <div class="icon icon_shop shop-btn">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                                <div class="icon menu_icon menu-btn">
                                    <i class="fas fa-bars"></i>
                                </div>
                            </div>
                        </div>
                        <hr class="menu__hr">
                    </nav>
                </div>
            </div>
        </div>
    </header>
	<main class="container">
		<div class="row">
			<div class="col-12 col-sm-9">
				<h3 class="head-title">Giới thiệu</h3>
				<div class="content-page">
					<p>Trang giới thiệu giúp khách hàng hiểu rõ hơn về cửa hàng của bạn. Hãy cung cấp thông tin cụ thể về việc kinh doanh, về cửa hàng, thông tin liên hệ. Điều này sẽ giúp khách hàng cảm thấy tin tưởng khi mua hàng trên website của bạn.</p>
					<p>Một vài gợi ý cho nội dung trang Giới thiệu:</p>
					<div>
						<ul>
							<li>
								<b><span>Bạn là ai</span></b>
							</li>
							<br>
							<li>
								<b><span>Giá trị kinh doanh của bạn là gì</span></b>
							</li>
							<br>
							<li>
								<b><span>Địa chỉ cửa hàng</span></b>
							</li><br>
							<li>
								<b><span>Bạn đã kinh doanh trong ngành hàng này bao lâu rồi</span></b>
							</li><br>
							<li>
								<b><span>Bạn kinh doanh ngành hàng online được bao lâu</span></b>
							</li><br>
							<li>
								<b><span>Đội ngũ của bạn gồm những ai</span></b>
							</li><br>
							<li>
								<b><span>Thông tin liên hệ</span></b>
							</li><br>
							<li>
								<b><span>Liên kết đến các trang mạng xã hội (Twitter, Facebook)</span></b>
							</li><br>
						</ul>
					</div>
					<p>Bạn có thể chỉnh sửa hoặc xoá bài viết này tại <a href=""><strong>đây</strong></a> hoặc thêm những bài viết mới trong phần quản lý <a href=""><strong>Trang nội dung</strong></a>.</p>
				</div>
			</div>
			<div class="col-12 col-sm-3">
				<div class="menu accordion" id="accordionPanelsStayOpenExample">
				 	<div class="accordion-item">
				    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
				      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
				        Danh mục
				      </button>
				    </h2>
				    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
				      <div class="accordion-body">
				        <ul	class="item list-group">
							<li class="list-group-item"><a href="../index.html"> Trang chủ</a></li>
							<li class="list-group-item"><a href="../index.html"> Thời trang nữ</a></li>
							<li class="list-group-item"><a href="../index.html"> Thời trang nam</a></li>
							<li class="list-group-item"><a href="../index.html"> Phụ kiện</a></li>
							<li class="list-group-item"><a href="./tintuc.html"> Tin tức</a></li>
							<li class="list-group-item"><a href="./gioithieu.html"> Giới thiệu</a></li>
							<li class="list-group-item"><a href="./lienhe.html"> Liên hệ</a></li>
						</ul>
				      </div>
				    </div>
				  	</div>
				  	<div class="accordion-item">
				    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
				      	TAGS
				      </button>
				    </h2>
				    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
				      <div class="accordion-body">
				      	<ul	class="item list-group">
							<li class="list-group-item"><a href="../index.html" class="btn btn-light bgcolor">Thời trang</a></li>
							<li class="list-group-item"><a href="../index.html" class="btn btn-light bgcolor">Váy</a></li>
							<li class="list-group-item"><a href="../index.html" class="btn btn-light bgcolor">Túi sách</a></li>
							<li class="list-group-item"><a href="../index.html" class="btn btn-light bgcolor">Quần bò</a></li>
							<li class="list-group-item"><a href="../index.html" class="btn btn-light bgcolor">Giày</a></li>
							<li class="list-group-item"><a href="../index.html" class="btn btn-light bgcolor">Style mới</a></li>
							<li class="list-group-item"><a href="../index.html" class="btn btn-light bgcolor">Thời trang 4 mùa</a></li>
						</ul>
				      </div>
				    </div>
				  	</div>
				  	<div class="accordion-item">
				    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
				        Giới thiệu
				      </button>
				    </h2>
				    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
				      <div class="accordion-body">
				        <div class="card">
							<img src="assets/img/smallmain3.png" class="card-img-top">
						</div>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</main>
	<hr>
	<footer>
        <div class="container-md">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <h2 class="logo__footer">DUROTAN</h2>
                    <div class="footer__contact">

                        <p class="footer__address">268 Elizaberth Ave Str, Brooklyn,<br>CA, 90025</p>
                        <p class="footer__phone">+0082 561 43 34 </p>
                        <p class="footer__email">support@durotan.com</p>
                        <p class="footer__icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="footer__link">
                        <h4 class="footer__title">FAQS</h4>
                        <a class="footer__link--a" href="#">Information</a>
                        <a class="footer__link--a" href="#">Payment</a>
                        <a class="footer__link--a" href="#">Shipping</a>
                        <a class="footer__link--a" href="#">Returns</a>
                        <a class="footer__link--a" href="#">Gift Card</a>
                        <a class="footer__link--a" href="#">Guest purchase</a>
                        <a class="footer__link--a" href="#">Electronic receipt</a>

                    </div>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                    <div class="footer__link">
                        <h4 class="footer__title">COMPANY</h4>
                        <a class="footer__link--a" href="#">About Durotan</a>
                        <a class="footer__link--a" href="#">Contact</a>
                        <a class="footer__link--a" href="#">Careers</a>
                        <a class="footer__link--a" href="#">Our Journals</a>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="footer__form">
                        <h4 class="footer__title">newsletter</h4>
                        <p>Be the first to get the latest news about trends, promotions and much more!</p>
                        <form action="#" method="post" class="form--style">
                            <input type="text" class="form-control" placeholder="Enter your email address"
                                aria-label="First name">
                            <p>By subscribing, you accept the <a href="#">Privacy Policy</a></p>
                            <button type="submit" class="btn btn__subscribe">SUBSCRIBE</button>
                        </form>
					</div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/js/tintuc.js"></script>
</html>